<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MASHUP</title>
</head>
<body>
    <center>
        <h1>Sending audio Files through Email</h1>
    </hr>
   
    <form actio="" method="POST" novalidate>
    {% csrf_token %}
    <table  
 border="1"> {{form}}</table>
   <input type="submit" value="submit"/>
</form>
    </center>
</body>
</html>